@tailwind base;
@tailwind components;
@tailwind utilities;
/* aqui eh contigo otavio, sei nadaaaa disso kkkkkkkkkkkkkkkkk
so coloquei essa corzinha pra n ficar branco na hora do teste q fiz aq */
body {
  background-color: #718dc6;
}